/* game board table */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#board {
  margin: auto;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

#container {
  width: 100vw;
  height: 75px;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin-bottom: 10px;
}

#container:nth-child(2) {
  text-align: center;
}

#game-container {
  width: 100vw;
  max-height: 100vh;
  text-align: center;
}

#canvas {
  margin: auto;
  margin-bottom: -20px;
  border: 1.5px solid black;
}

#color {
  display: flex;
  padding-top: 25px;
}

#color1 {
  margin: auto;
  border: 1px solid black;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#color2 {
  margin: auto;
  border: 1px solid black;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1,
h4 {
  margin: auto;
  margin-top: 5px;
}

#btn {
  display: none;
  margin: auto;
  width: 60%;
}

#btn2 {
  display: none;
  margin: auto;
  width: 60%;
}



/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 1px grey solid;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}




* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

#color-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #cfcfcf;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
  text-align: center;
  text-justify: center;
  height: 150px;
}

.jumbotron h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-top: 20px;
}

#game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate3D(0, 1, 0, 0deg);
            transform: rotate3D(0, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3D(0, 1, 0, 180deg);
            transform: rotate3D(0, 1, 0, 180deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate3D(0, 1, 0, 0deg);
            transform: rotate3D(0, 1, 0, 0deg);
  }
  100% {
    -webkit-transform: rotate3D(0, 1, 0, 180deg);
            transform: rotate3D(0, 1, 0, 180deg);
  }
}

.spin {
  -webkit-animation: spin 1s infinite ease-in;
          animation: spin 1s infinite ease-in;
}
/*# sourceMappingURL=style.css.map */